In [ ]:
# show something as output: Use the print function

In [1]:
print("Hello world")

Hello world

In [58]:
casting_variable_type = float(990)
print(casting_variable_type)

990.0

In [19]:
help("keywords")

Here is a list of the Python keywords.  Enter any keyword to get more help.

False               class               from                or
None                continue            global              pass
True                def                 if                  raise
and                 del                 import              return
as                  elif                in                  try
assert              else                is                  while
async               except              lambda              with
await               finally             nonlocal            yield
break               for                 not

In [37]:
x = 6
id(x)
# id() returns unique identifier (typically memory address)

140711979661912

In [50]:
 # Data types in python
# intger
# float
# boolean
# string
# none
type(9.9)

float

In [62]:
name = input()

 ram

In [64]:
print (name)

ram

In [82]:
# take two numbers as input and give sum

print("Enter Two Number")
a = int(input())
b =int(input())
sum=a + b
print(sum)

Enter Two Number

 99
 9

108

In [84]:
import?

Object `import` not found.

In [86]:
print?

Signature: print(*args, sep=' ', end='\n', file=None, flush=False)
Docstring:
Prints the values to a stream, or to sys.stdout by default.

sep
  string inserted between values, default a space.
end
  string appended after the last value, default a newline.
file
  a file-like object (stream); defaults to the current sys.stdout.
flush
  whether to forcibly flush the stream.
Type:      builtin_function_or_method

In [88]:
# sep
print("tony","thor")

tony thor

In [108]:
print("tony","thor" ,sep=" , ")
print("New","Line" ,sep="\n")

tony , thor
New
Line

In [126]:
# changing the default separator
print("tony",32,  end =" ")
print("loki",1500)

tony 32
loki 1500

In [ ]:
# // - floor divison, the result is floored to the nearest smaller integer
a =8
b=6
print(a/b)
print(a//b) # // floor division
c= -3
d=2
print(c//d)

In [147]:
# conditional operators in python
# and
# or
# not

In [189]:
# special operators
# in operator (membership operator)
# is operator

# in operator tells you if an object is part of other object or not

name ="john doe"
"john" in name

# is operator tells you if both the object are at the same memory location?
a = 4
b= 4
print(id(a))
print(id(b))
a is b

140711979661848
140711979663160

False

In [199]:
print(0 or 1)

1

In [201]:
print(type(6 / 3))

<class 'float'>

In [203]:
print(6 / 3)

2.0

In [210]:
# control flow statement
age = int(input())
if age > 18:
    print("you are eligible to vote")

else:
    print("you are not eligible to vote")

 32

you are eligible to vote

In [218]:
marks =[89,78,89,6,89,89,90,27,78,89,99]
highest = marks[0]
for i in marks:
    if i>highest:
        highest = i

print(highest)

99

In [220]:
# using max()
max(marks)

99

In [222]:
# find min mark using min()
min(marks)

6

In [258]:
#challenge
# grading system
marks = int(input())

if marks >=90 and marks <=100:
    print("Grade A")

elif marks<=90 and marks>80:
    print("Grade B")

elif marks <=80 and marks > 70:
    print ("Grade C")

elif marks <= 70 and marks > 60:
    print ("Grade D")

elif marks <= 60 and marks > 30:
    print ("Grade E")



elif marks <= 30 and marks >= 0:
    print ("Fail")
else :
    print ("Invalid Score")

 -8

Invalid Score

In [264]:
4 ==4

True

In [ ]:
# loop in python
# for 
# while

i = 1
while i<=6 :
    print("Hi this iteration no : ",i)
    i+=1

In [52]:
# pritn all numbers from 1 to 10 using loop

# using while loop
# count =1 
# while count <=10:
#     print (count) 
#     count +=1


# using for loop

for i in range(1,11):
    print (i)

# # in reverse using for loop
# for i in range(10,1,-1): # range(start, stop, step)
#     print (i)

1
2
3
4
5
6
7
8
9
10

In [70]:
# print even numbers in given range

# using while loop
# i = 0
# while i<=10:
#     if i % 2==0 :
#         print(i, end=" ")
#     i+=1

    

# using for loop
for i in range (0,11):
    if i%2 == 0:
        print(i ,end = " ")

0 2 4 6 8 10

In [8]:
# print sum of numbers in given range

# using while loop
sum = 0
i=0
while i<=10:
    sum+=i
    i+=1
    
print(sum)

# using for loop
# sum= 0
# for i in range(0,11):
#     sum+=i
# print(sum, end =" ")

55

In [26]:
print(list(range(10)))
list(range(10))

[0, 1, 2, 3, 4, 5, 6, 7, 8, 9]

[0, 1, 2, 3, 4, 5, 6, 7, 8, 9]

In [78]:
# Iterator, Iterable and Iteration

# print multiplication table of 5

# for i in list(range(1,11)):
#     # print(i*5)
#     print(f"5 x {i} = {i * 5}")


# take input n from the user and give table of n 
n = int(input())

for i in range(1,11):
    # print (i * n)
    print (f"{n} x {i} = {i * n}")

 78

78 x 1 = 78
78 x 2 = 156
78 x 3 = 234
78 x 4 = 312
78 x 5 = 390
78 x 6 = 468
78 x 7 = 546
78 x 8 = 624
78 x 9 = 702
78 x 10 = 780

In [138]:
# print the pattern 1
n = int(input())

for i in range(1,n+1):
    for j in range(1,n+1):
        print("#", end = " ")
    print("")

 6

# # # # # #
# # # # # #
# # # # # #
# # # # # #
# # # # # #
# # # # # #

#####

In [170]:
# print pattern 2

n = int(input())

for i in range(n):
    for j in range(i+1):
        print("#",end=" ")
    print("")

 7

#
# #
# # #
# # # #
# # # # #
# # # # # #
# # # # # # #

# Break , Continue and Pass
# These statements are used to alter the flow of a program
# Break: Breaks teh flow of a program once the conditon is hit
# Continue: It skips the particular iteration
# Pass: To avoid syntax error. Mainly used as the placeholder for the future code, it does nothing and let the code run forward.

In [258]:

n = int(input())
# for i in range(n+1):
#     for j in range(n-i):
#         print(" " ,end= "")

#     for k in range(i):
#         print("* ", end="")
#     print("")

# for i in range(n+1):
#     # print spaces
#     for j in range(n-i):
#         print(" ", end="")
#     for k in range(i):
#         print("* ",end="")
#     print("")

def star_pattern(n):
    for i in range(n):
        for j in range(n-i-1):
            print(" ", end="")
        for k in range(2*i + 1):
            print("*",end="")
        print("")
    
star_pattern(5)

 5

    *
   ***
  *****
 *******
*********

In [264]:
for x in range(11):
       if x == 6:
           print(x,end="")
print(x)

610

In [319]:
#strings

# ord() and chr()
# ord(),"ordinal", function takes a single character (a string of length 1) as an argument and returns its integer Unicode code point (ASCII value for standard ASCII characters)
# chr() function takes an integer (Unicode code point) as an argument and returns the corresponding character
ord("A")
chr(2325)
chr(128512)

'ðŸ˜€'

In [202]:
# indexing in string

name = "john Cena"
print(name.capitalize())
print(name.casefold()) # coverts string into lower case
print(name.count("j")) # count the number of time a specified value occures
print(name.encode('utf-16')) # Returns an encoded version of the string
print(name.endswith('c')) # Returns true if the string ends with the specified value
print(name.endswith('a')) 
print(name.find('ar')) # all that but return -1 if not found
print(name.index("a")) # all that but raises ValueError if not found , ie. "substring not found"
print(name.isalnum()) # return true if all characters in the string are alphanumeric
print(name.isalpha()) # return true if all characters in the string are in the alphabet
print(name.isascii()) # return true if all characters in the string are in the alphabet

print(name.replace("john", "jai"))
print(name.rfind("a",0,6)) # find the last occurance of the specied value, ie. string.rfind(value, start, end) . If start and end is not specified it find the occurence in whole string from start to bottom
print(name.strip()) # strip method removes any leading and trailing whitespaces

print(name.rpartition("j")) #Returns a tuple where the string is parted into three parts
print(name.rsplit("n")) #Splits the string at the specified separator, and returns a list
print("hi".join(name)) #Splits the string at the specified separator, and returns a list
print(name[-1]) # accessing the characters in string
print(len(name)) # length of the string
print(name[0:6]) # slicing of string
print(name[0:len(name)]) # slicing of string (taking till last index
print(name[1:6:2]) # steps(jump), start, end, jump(step)
print(name[::-1]) # steps(jump), start, end, jump(step)
print(name[::-len(name)]) # steps(jump), start, end, jump(step)

John cena
john cena
1
b'\xff\xfej\x00o\x00h\x00n\x00 \x00C\x00e\x00n\x00a\x00'
False
True
-1
8
False
False
True
jai Cena
-1
john Cena
('', 'j', 'ohn Cena')
['joh', ' Ce', 'a']
jhiohihhinhi hiChiehinhia
a
9
john C
john Cena
onC
aneC nhoj
a

In [210]:
# string formatting
name = input()
age=input()
print("Hello, My name is", name, "and I am", age, "years old.!")

 sam
 89

Hello, My name is sam and I am 89 years old.!

In [234]:
name = input()
age=input()
print("Hey my name is {} and I am {} years old".format(name,age))

 John Doe
 45

Hey my name is John Doe and I am 45 years old

In [232]:
name = input()
age=input()
print(f"Hey my name is {name} and I am {age} years old")

 John Cena
 45

Hey my name is John Cena and I am 45 years old

In [262]:
# string concatenation (adding two strings)
first_name = "Peter"
middle_name = "Parker"
last_name = "Kumar"
print(first_name + middle_name + last_name)
print((first_name + middle_name + last_name) * 3) # can only multiply string and integer

PeterParkerKumar
PeterParkerKumarPeterParkerKumarPeterParkerKumar

In [316]:
#challenge
# print all vowels of a given string
# text= "The quick brown fox jumps over the lazy dog"
text=input()
vowels=[]

for i in text:
    if i== "a" or i=='e' or i=='i'or i=='o'or i=='u' or i== "A" or i=='E' or i=='I'or i=='O'or i=='U':
       vowels.append(i)

if vowels:
    print(vowels)

else: 
    print(f'No vowels in "{text}"')



    
    # if (vowel == text.find('a')||vowel == text.find('e')||vowel text.find(== 'o')||vowel == text.find('u')||vowel == text.find('i'):
    #     print(vowel);
    # else :
    #     print("")

 my name is khan

['a', 'e', 'i', 'a']

In [21]:
#challenge 
# Find if a string is palindrome (sequence that reads the same backwards as forwards)

str = input()

if str == str[::-1]:
    print(f"yes! '{str}' is palindrome. i.e. '{str}' = '{str[::-1]}'")
else:
    print(f"NO!, '{str}' is not a palindrome.")

 rotator

yes! 'rotator' is palindrome. i.e. 'rotator' = 'rotator'

In [37]:
# Challenge - Length of unique words
# Given two sentences, write a program to return the sum of the total number of unique words from each sentence.


def set_operation(sent1, sent2):
    ''' 
    input: sent1, sent2 - two sentences taken as inputs
    output: return the sum of the length of unique words.
    '''
    # split the setntences and keep them in set
    unique_words_in_sent1 = set(sent1.split()) # set does not keep duplicate items. ie. automatically filter unique words
    unique_words_in_sent2 = set(sent2.split())

    total_unique_words = len(unique_words_in_sent1) + len(unique_words_in_sent2)

    return total_unique_words

# Sample input
sent1 = "in data analysis we use data and process it further to create better interpreted data"
sent2 = "more and more data will be passively collected"

# Function call
print(set_operation(sent1, sent2))  # Output should be 20

20

In [65]:
# Data Structure in Python
# a data structure is a specialized format for organizing, processing, retrieving and storing data.
# 1. Lists
"""
a. Ordered collection of data
b. Lists are mutable type of DataStructure
c. It can contain muliple types of Data
d. Lists are changeable (Mutable)
e. Lists are iterable
"""
# creating a list 
'''
i>  l = []
ii> l = list()
'''
l = []
ls = list()
print(type(l))
print(type(ls))
l2 = [2,2,34,4,"g"]
l3 = list((2,2,34,4,"g"))
print(l2)
print(id(l2)) # address of the list
print(id(l2[3])) # addrees of element at 3rd index before changing the element
l2[3]=566 # mutable
print(l2)
print(id(l2)) # address of the list doesnot change when one element is mutated but that mutated element's address may change
print(id(l2[3]))# addrees of element at 3rd index after changing the element
print(l3)

## lists are iretable 
for i in l2:
    print(i)

<class 'list'>
<class 'list'>
[2, 2, 34, 4, 'g']
1764683175232
140712098347544
[2, 2, 34, 566, 'g']
1764683175232
1764677611856
[2, 2, 34, 4, 'g']
2
2
34
566
g

In [97]:
#List slicing
ls = [2,12,34,4,89,90]
print(ls[0:3]) # start index is included but end index is excluded
print(ls[0:len(ls)])

[2, 12, 34]
[2, 12, 34, 4, 89, 90]

In [183]:
# list operations
# count
# index
# pop
# remove
# sort
# insert
# append
# extend
score = [56,67,89,98,79,89]
print(score.count(89)) # count the number of times the arg is in the list
print(score.count(100)) # return 0 if not found
print(score.index(89)) # return first index found and retrun valueError if not found
print(score.index(89)) # return first index found and retrun valueError if not found
print(score)
print(score.pop()) # remove one element from last index
print(score)
print(score.remove(98))
print(score)
print(score.sort())
print(score.insert(0,789)) # insert new element inplace of selected index
print(score.append(999))
print(score)
newScore = [85,45,76]
print(score.append(newScore))
print(score)

# extend

2
0
2
2
[56, 67, 89, 98, 79, 89]
89
[56, 67, 89, 98, 79]
None
[56, 67, 89, 79]
None
None
None
[789, 56, 67, 79, 89, 999]
None
[789, 56, 67, 79, 89, 999, [85, 45, 76]]

In [201]:
# Hetrogenous Lists - list that contains items of two or more data types
ls = ["hi",78,"jim",90]
print(ls)

['hi', 78, 'jim', 90]

In [242]:
# 2D list-  list inside list
ls1 = [45,65,23]
ls2 = [41,25,13]
ls3 = [67,99,12]
# ls1.append(ls2)

# print(ls1)
# ls1.extend(ls2)
# print(ls1)

ls123=ls1 + ls2 +ls3
print(ls123)
l=[ls1,ls2,ls3]
print(l)
print(l[1])
print(l[1][1])

[45, 65, 23, 41, 25, 13, 67, 99, 12]
[[45, 65, 23], [41, 25, 13], [67, 99, 12]]
[41, 25, 13]
25

In [292]:
# iteration on 2D list
print(l)
print("iterate over each list in the 2d list")

for i in l:
    print(i)

print("iterate over each item in the 2d list")

for i in l:
    for j in i:
        print(j)

print("iterate over l[0]")
for i in l[0]:
    print(i)

[[45, 65, 23], [41, 25, 13], [67, 99, 12]]
iterate over each list in the 2d list
[45, 65, 23]
[41, 25, 13]
[67, 99, 12]
iterate over each item in the 2d list
45
65
23
41
25
13
67
99
12
iterate over l[0]
45
65
23

In [355]:
# List comprehension

# for i in range(10):
#     print(i, end=", \n__\n")

# traditional way
ls = []

for i in range(20):
    ls.append(i)

print(ls)

# list comprehension
ls = [i for i in range(23)]
print(ls)

ls = [i**2 for i in range(23)]
print(ls)

[0, 1, 2, 3, 4, 5, 6, 7, 8, 9, 10, 11, 12, 13, 14, 15, 16, 17, 18, 19]
[0, 1, 2, 3, 4, 5, 6, 7, 8, 9, 10, 11, 12, 13, 14, 15, 16, 17, 18, 19, 20, 21, 22]
[0, 1, 4, 9, 16, 25, 36, 49, 64, 81, 100, 121, 144, 169, 196, 225, 256, 289, 324, 361, 400, 441, 484]