In [ ]:
# show something as output: Use the print function

In [1]:
print("Hello world")

Hello world

In [58]:
casting_variable_type = float(990)
print(casting_variable_type)

990.0

In [19]:
help("keywords")

Here is a list of the Python keywords.  Enter any keyword to get more help.

False               class               from                or
None                continue            global              pass
True                def                 if                  raise
and                 del                 import              return
as                  elif                in                  try
assert              else                is                  while
async               except              lambda              with
await               finally             nonlocal            yield
break               for                 not

In [37]:
x = 6
id(x)
# id() returns unique identifier (typically memory address)

140711979661912

In [50]:
 # Data types in python
# intger
# float
# boolean
# string
# none
type(9.9)

float

In [62]:
name = input()

 ram

In [64]:
print (name)

ram

In [82]:
# take two numbers as input and give sum

print("Enter Two Number")
a = int(input())
b =int(input())
sum=a + b
print(sum)

Enter Two Number

 99
 9

108

In [84]:
import?

Object `import` not found.

In [86]:
print?

Signature: print(*args, sep=' ', end='\n', file=None, flush=False)
Docstring:
Prints the values to a stream, or to sys.stdout by default.

sep
  string inserted between values, default a space.
end
  string appended after the last value, default a newline.
file
  a file-like object (stream); defaults to the current sys.stdout.
flush
  whether to forcibly flush the stream.
Type:      builtin_function_or_method

In [88]:
# sep
print("tony","thor")

tony thor

In [108]:
print("tony","thor" ,sep=" , ")
print("New","Line" ,sep="\n")

tony , thor
New
Line

In [126]:
# changing the default separator
print("tony",32,  end =" ")
print("loki",1500)

tony 32
loki 1500

In [ ]:
# // - floor divison, the result is floored to the nearest smaller integer
a =8
b=6
print(a/b)
print(a//b) # // floor division
c= -3
d=2
print(c//d)

In [147]:
# conditional operators in python
# and
# or
# not

In [189]:
# special operators
# in operator (membership operator)
# is operator

# in operator tells you if an object is part of other object or not

name ="john doe"
"john" in name

# is operator tells you if both the object are at the same memory location?
a = 4
b= 4
print(id(a))
print(id(b))
a is b

140711979661848
140711979663160

False

In [199]:
print(0 or 1)

1

In [201]:
print(type(6 / 3))

<class 'float'>

In [203]:
print(6 / 3)

2.0

In [210]:
# control flow statement
age = int(input())
if age > 18:
    print("you are eligible to vote")

else:
    print("you are not eligible to vote")

 32

you are eligible to vote

In [218]:
marks =[89,78,89,6,89,89,90,27,78,89,99]
highest = marks[0]
for i in marks:
    if i>highest:
        highest = i

print(highest)

99

In [220]:
# using max()
max(marks)

99

In [222]:
# find min mark using min()
min(marks)

6

In [258]:
#challenge
# grading system
marks = int(input())

if marks >=90 and marks <=100:
    print("Grade A")

elif marks<=90 and marks>80:
    print("Grade B")

elif marks <=80 and marks > 70:
    print ("Grade C")

elif marks <= 70 and marks > 60:
    print ("Grade D")

elif marks <= 60 and marks > 30:
    print ("Grade E")



elif marks <= 30 and marks >= 0:
    print ("Fail")
else :
    print ("Invalid Score")

 -8

Invalid Score

In [264]:
4 ==4

True

In [10]:
# loop in python
# for 
# while

i = 1
while i<=6 :
    print("Hi this iteration no : ",i)
    i+=1

Hi this iteration no :  1
Hi this iteration no :  2
Hi this iteration no :  3
Hi this iteration no :  4
Hi this iteration no :  5
Hi this iteration no :  6