In [ ]:
# show something as output: Use the print function

In [1]:
print("Hello world")

Hello world

In [58]:
casting_variable_type = float(990)
print(casting_variable_type)

990.0

In [19]:
help("keywords")

Here is a list of the Python keywords.  Enter any keyword to get more help.

False               class               from                or
None                continue            global              pass
True                def                 if                  raise
and                 del                 import              return
as                  elif                in                  try
assert              else                is                  while
async               except              lambda              with
await               finally             nonlocal            yield
break               for                 not

In [37]:
x = 6
id(x)
# id() returns unique identifier (typically memory address)

140711979661912

In [50]:
 # Data types in python
# intger
# float
# boolean
# string
# none
type(9.9)

float

In [62]:
name = input()

 ram

In [64]:
print (name)

ram

In [82]:
# take two numbers as input and give sum

print("Enter Two Number")
a = int(input())
b =int(input())
sum=a + b
print(sum)

Enter Two Number

 99
 9

108

In [84]:
import?

Object `import` not found.

In [86]:
print?

Signature: print(*args, sep=' ', end='\n', file=None, flush=False)
Docstring:
Prints the values to a stream, or to sys.stdout by default.

sep
  string inserted between values, default a space.
end
  string appended after the last value, default a newline.
file
  a file-like object (stream); defaults to the current sys.stdout.
flush
  whether to forcibly flush the stream.
Type:      builtin_function_or_method

In [88]:
# sep
print("tony","thor")

tony thor

In [108]:
print("tony","thor" ,sep=" , ")
print("New","Line" ,sep="\n")

tony , thor
New
Line

In [126]:
# changing the default separator
print("tony",32,  end =" ")
print("loki",1500)

tony 32
loki 1500

In [ ]:
# // - floor divison, the result is floored to the nearest smaller integer
a =8
b=6
print(a/b)
print(a//b) # // floor division
c= -3
d=2
print(c//d)

In [147]:
# conditional operators in python
# and
# or
# not

In [189]:
# special operators
# in operator (membership operator)
# is operator

# in operator tells you if an object is part of other object or not

name ="john doe"
"john" in name

# is operator tells you if both the object are at the same memory location?
a = 4
b= 4
print(id(a))
print(id(b))
a is b

140711979661848
140711979663160

False

In [199]:
print(0 or 1)

1

In [201]:
print(type(6 / 3))

<class 'float'>

In [203]:
print(6 / 3)

2.0

In [210]:
# control flow statement
age = int(input())
if age > 18:
    print("you are eligible to vote")

else:
    print("you are not eligible to vote")

 32

you are eligible to vote

In [218]:
marks =[89,78,89,6,89,89,90,27,78,89,99]
highest = marks[0]
for i in marks:
    if i>highest:
        highest = i

print(highest)

99

In [220]:
# using max()
max(marks)

99

In [222]:
# find min mark using min()
min(marks)

6

In [258]:
#challenge
# grading system
marks = int(input())

if marks >=90 and marks <=100:
    print("Grade A")

elif marks<=90 and marks>80:
    print("Grade B")

elif marks <=80 and marks > 70:
    print ("Grade C")

elif marks <= 70 and marks > 60:
    print ("Grade D")

elif marks <= 60 and marks > 30:
    print ("Grade E")



elif marks <= 30 and marks >= 0:
    print ("Fail")
else :
    print ("Invalid Score")

 -8

Invalid Score

In [264]:
4 ==4

True

In [ ]:
# loop in python
# for 
# while

i = 1
while i<=6 :
    print("Hi this iteration no : ",i)
    i+=1

In [52]:
# pritn all numbers from 1 to 10 using loop

# using while loop
# count =1 
# while count <=10:
#     print (count) 
#     count +=1


# using for loop

for i in range(1,11):
    print (i)

# # in reverse using for loop
# for i in range(10,1,-1): # range(start, stop, step)
#     print (i)

1
2
3
4
5
6
7
8
9
10

In [70]:
# print even numbers in given range

# using while loop
# i = 0
# while i<=10:
#     if i % 2==0 :
#         print(i, end=" ")
#     i+=1

    

# using for loop
for i in range (0,11):
    if i%2 == 0:
        print(i ,end = " ")

0 2 4 6 8 10

In [8]:
# print sum of numbers in given range

# using while loop
sum = 0
i=0
while i<=10:
    sum+=i
    i+=1
    
print(sum)

# using for loop
# sum= 0
# for i in range(0,11):
#     sum+=i
# print(sum, end =" ")

55

In [26]:
print(list(range(10)))
list(range(10))

[0, 1, 2, 3, 4, 5, 6, 7, 8, 9]

[0, 1, 2, 3, 4, 5, 6, 7, 8, 9]

In [78]:
# Iterator, Iterable and Iteration

# print multiplication table of 5

# for i in list(range(1,11)):
#     # print(i*5)
#     print(f"5 x {i} = {i * 5}")


# take input n from the user and give table of n 
n = int(input())

for i in range(1,11):
    # print (i * n)
    print (f"{n} x {i} = {i * n}")

 78

78 x 1 = 78
78 x 2 = 156
78 x 3 = 234
78 x 4 = 312
78 x 5 = 390
78 x 6 = 468
78 x 7 = 546
78 x 8 = 624
78 x 9 = 702
78 x 10 = 780

In [138]:
# print the pattern 1
n = int(input())

for i in range(1,n+1):
    for j in range(1,n+1):
        print("#", end = " ")
    print("")

 6

# # # # # #
# # # # # #
# # # # # #
# # # # # #
# # # # # #
# # # # # #

#####

In [170]:
# print pattern 2

n = int(input())

for i in range(n):
    for j in range(i+1):
        print("#",end=" ")
    print("")

 7

#
# #
# # #
# # # #
# # # # #
# # # # # #
# # # # # # #

# Break , Continue and Pass
# These statements are used to alter the flow of a program
# Break: Breaks teh flow of a program once the conditon is hit
# Continue: It skips the particular iteration
# Pass: To avoid syntax error. Mainly used as the placeholder for the future code, it does nothing and let the code run forward.

In [258]:

n = int(input())
# for i in range(n+1):
#     for j in range(n-i):
#         print(" " ,end= "")

#     for k in range(i):
#         print("* ", end="")
#     print("")

# for i in range(n+1):
#     # print spaces
#     for j in range(n-i):
#         print(" ", end="")
#     for k in range(i):
#         print("* ",end="")
#     print("")

def star_pattern(n):
    for i in range(n):
        for j in range(n-i-1):
            print(" ", end="")
        for k in range(2*i + 1):
            print("*",end="")
        print("")
    
star_pattern(5)

 5

    *
   ***
  *****
 *******
*********

In [264]:
for x in range(11):
       if x == 6:
           print(x,end="")
print(x)

610

In [319]:
#strings

# ord() and chr()
# ord(),"ordinal", function takes a single character (a string of length 1) as an argument and returns its integer Unicode code point (ASCII value for standard ASCII characters)
# chr() function takes an integer (Unicode code point) as an argument and returns the corresponding character
ord("A")
chr(2325)
chr(128512)

'ðŸ˜€'

In [359]:
# indexing in string

name = "john Cena"
print(name.capitalize())
print(name.casefold()) # coverts string into lower case
print(name.count("j")) # count the number of time a specified value occures
print(name.encode('utf-16')) # Returns an encoded version of the string
print(name.endswith('utf-16')) # Returns an encoded version of the string

John cena
john cena
1
b'\xff\xfej\x00o\x00h\x00n\x00 \x00C\x00e\x00n\x00a\x00'